* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f9fc;
}

.app-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 900px;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.app-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    height: 736%;
    width: 736%;
}

h1 {
    font-size: 2.5em;
    color: #ec2d73;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

.task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 75%;
    font-size: 1em;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

input:focus {
    border-color: #4a90e2;
}

button {
    padding: 10px 15px;
    font-size: 1em;
    background-color: #f44464;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ab7;
}

.task-list {
    margin-top: 20px;
}

.task-list h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    background-color: #e1f5fe;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #c7e9f7;
}

button.edit-btn, button.delete-btn {
    background-color: #ff9800;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button.edit-btn:hover {
    background-color: #fb8c00;
}

button.delete-btn {
    background-color: #e57373;
}

button.delete-btn:hover {
    background-color: #d32f2f;
}

.completed {
    background-color: #c8e6c9; /* Light green for completed tasks */
    text-decoration: line-through;
}

.completed:hover {
    background-color: #a5d6a7; /* Hover effect for completed tasks */
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
